.container {
  background-color: black;
  padding: 10px;
  height: 100px;
}

.desc {
  font-size: 10px;
  color: white;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  margin-top: 5px;
}

.head {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
}

.headText_1,
.headText_2 {
  font-size: 12px;
  color: white;
}

.list_wrapper {
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px;
  gap: 10px;
  color: white;
}

.list_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 11px;
  color: white;
  min-width: 50px;
}

.list_item:hover {
  font-size: 12px;
  transform: 1.5;
  transition: 0.5s;
  color: yellow;
}
